# See LICENSE file for copyright and license details.


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"html2text" = "*"
Unidecode = "*"
"rfc6266" = "*"
requests-html = "*"


[dev-packages]

